<ng-container *ngIf="sideNavConfig$ | async as sideNavConfig">
  <mat-sidenav-container class="h-full">

    <mat-sidenav
      [mode]="sideNavConfig.isLargeScreen ? 'side':'over'"
      [(opened)]="isOpen"
      class="w-[240px]"
      [fixedInViewport]="true">

      <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-slate-50 h-full">

        <div class="absolute top-[6px] right-[6px] -mr-0 pt-2" *ngIf="!sideNavConfig.isLargeScreen">
          <button mat-icon-button (click)="isOpen = !isOpen">
            <mat-icon svgIcon="close" class="text-gray-800"></mat-icon>
          </button>
        </div>

        <div class="flex-shrink-0 flex items-center px-4">
          <mat-icon class="text-orange-500" svgIcon="user-chef"></mat-icon>

          <div class="text-orange-500 font-medium text-lg ml-2">Foodify</div>
        </div>

        <div class="pt-5 flex-1 h-0 overflow-y-auto">
          <nav class="px-2 space-y-1">
            <a routerLink="/dashboard" routerLinkActive="bg-gray-700 !text-white !hover:bg-gray-900" class="text-gray-800 group flex items-center px-2 py-2 text-base font-medium rounded-md">
              <mat-icon svgIcon="chart-mixed-light" class="mr-2"></mat-icon>
              <span>Dashboard</span>
            </a>
            <a routerLink="orders" routerLinkActive="bg-gray-700 !text-white !hover:bg-gray-900" class="text-gray-800 group flex items-center px-2 py-2 text-base font-medium rounded-md">
              <mat-icon svgIcon="chart-simple-horizontal-light" class="mr-2"></mat-icon>
              <span>Orders</span>
            </a>

            <a routerLink="template-projection" routerLinkActive="bg-gray-700 !text-white !hover:bg-gray-900" class="text-gray-800 group flex items-center px-2 py-2 text-base font-medium rounded-md">
              <mat-icon svgIcon="chart-simple-horizontal-light" class="mr-2"></mat-icon>
              <span>Template Projection</span>
            </a>


          </nav>
        </div>
      </div>


    </mat-sidenav>

    <mat-sidenav-content class="h-full bg-white pt-2 pl-3 pr-3 lg:pl-5 lg:pr-5 lg:pt-2 ">

      <div class="relative max-h-full h-full bg-white w-full overflow-hidden">
        <div class="absolute top-0 left-0 w-full h-[70px] bg-white pr-5 pl-5">
          <div class="w-full max-w-3xl lg:max-w-7xl mx-auto border-b-2 pt-4 pb-3 flex flex-row">
            <ng-container *ngIf="!sideNavConfig.isLargeScreen">
              <button mat-icon-button (click)="isOpen = !isOpen">
                <mat-icon svgIcon="menu"></mat-icon>
              </button>
            </ng-container>

            <div id="headerId" class="min-h-[30px]"></div>
            <div class="flex-1"></div>
            <div class="flex flex-row items-center gap-2">
              <div id="rightHeaderId"></div>
            </div>
          </div>
        </div>
        <div class="pt-[53px] h-full">
          <div class="max-w-3xl lg:max-w-7xl mx-auto h-full ">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
