<app-dom-portal [selector]="'#headerId'">
  <div class="flex flex-row items-center">
    <button mat-icon-button class="text-gray-800" routerLink="/">
      <mat-icon svgIcon="arrow-left-solid"></mat-icon>
    </button>
    <h1 class="text-gray-800 text-3xl font-extrabold tracking-tight sm:text-4xl">Checkout</h1>
  </div>

</app-dom-portal>

<div class=" mx-auto lg:max-w-7xl h-full overflow-y-scroll max-h-full ">
  <ng-container *ngIf="checkoutData$ | async as checkoutData">
    <app-checkout-details
      [cartProducts]="checkoutData.cartProducts"
      [orderPaymentSummaryExtraFee]="checkoutData.orderPaymentSummaryExtraFee"
      [paymentMethodCards]="cardData"
      (createOrder)="handleCreateOrder($event)"
      (paymentMethodChanged)="handlePaymentMethodChange($event)"
      (updateProductQuantity)="handleUpdateProductQuantity($event)"
      (removeProduct)="handleRemoveProduct($event)"
    >
    </app-checkout-details>
  </ng-container>
</div>

