<div class="flex flex-row items-center gap-2">

  <ng-container *ngIf="orders$ | async as ordersState">
    <ng-container *ngIf="ordersState.requestStatus.status === 'COMPLETED'">
      <app-orders-widget (ordersClicked)="handleOrdersClicked()" [ordersCount]="ordersState.domain.length"></app-orders-widget>
    </ng-container>

  </ng-container>
  <ng-container *ngIf="favoriteState$ | async as favoriteState">
    <app-favorite-widget
      (addAllProductsToCart)="handleAddAllProductsToCart(favoriteState)"
      (removeProductFromFavorite)="handleRemoveProductFromFavorite($event)"
      (addProductToCart)="handleAddProductToCart($event)"
      [favoriteProducts]="favoriteState"></app-favorite-widget>
  </ng-container>
  <ng-container *ngIf="cartState$ | async as cartState">
    <app-cart-widget
      (updateProductQuantity)="handleUpdateProductQuantity($event)"
      (removeProductFromCart)="handleRemoveProductFromCart($event)"
      [cartQuantity]="cartState.totalQuantity"
      [cartProducts]="cartState.products"></app-cart-widget>
  </ng-container>
</div>
