<table>
  <thead>
  <tr>
    <ng-container *ngTemplateOutlet="tableHeader?.templateRef || defaultHeaderTemplate; context: {$implicit:data}">
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of data">
    <ng-container *ngTemplateOutlet="tableRow?.templateRef || defaultRowTemplate; context: {$implicit: row}"></ng-container>
  </tr>
  </tbody>
</table>

<ng-template #defaultHeaderTemplate let-data>
  <th *ngFor="let item of data[0] | keyvalue"> {{item.key}}</th>
</ng-template>

<ng-template #defaultRowTemplate let-row>
  <td *ngFor="let row of row | keyvalue"> {{row.value}}</td>
</ng-template>
